# Memory

<div style="display: flex; justify-content: flex-start; gap: 10px;">
  <img src="./assets/LC_Memory_after.png" style="width:300px; border:1px solid #ccc; border-radius:6px;">
</div>

Persisting messages, or 'agent state' between invocations of the agent.

## Setup

Load and/or check for needed environmental variables

In [1]:
from dotenv import load_dotenv
from env_utils import doublecheck_env

# Load environment variables from .env
load_dotenv()

# Check and print results
doublecheck_env(".env")

OPENAI_API_KEY=****lj8A
GROQ_API_KEY=****J18N
LANGSMITH_API_KEY=****c376
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=****ials

In [2]:
from langchain_community.utilities import SQLDatabase

db = SQLDatabase.from_uri("sqlite:///Chinook.db")

In [3]:
from dataclasses import dataclass

@dataclass
class RuntimeContext:
    db: SQLDatabase

In [4]:
from langchain_core.tools import tool
from langgraph.runtime import get_runtime

@tool
def execute_sql(query: str) -> str:
    """Execute a SQLite command and return results."""
    runtime = get_runtime(RuntimeContext)
    db = runtime.context.db

    try:
        return db.run(query)
    except Exception as e:
        return f"Error: {e}"

In [5]:
SYSTEM_PROMPT = """You are a careful SQLite analyst.

Rules:
- Think step-by-step.
- When you need data, call the tool `execute_sql` with ONE SELECT query.
- Read-only only; no INSERT/UPDATE/DELETE/ALTER/DROP/CREATE/REPLACE/TRUNCATE.
- Limit to 5 rows unless the user explicitly asks otherwise.
- If the tool returns 'Error:', revise the SQL and try again.
- Prefer explicit column lists; avoid SELECT *.
"""

In [6]:
from langchain.agents import create_agent
from langchain_groq import ChatGroq

# Initialize the Groq model
llm = ChatGroq(
    model="llama-3.1-8b-instant",
    temperature=0,
    max_retries=2,
)

agent = create_agent(
    #model="openai:gpt-5",
    model=llm,
    tools=[execute_sql],
    system_prompt=SYSTEM_PROMPT,
    context_schema=RuntimeContext,
)

## Repeated Queries

In [7]:
question = "This is Frank Harris, What was the total on my last invoice?"
steps = []

for step in agent.stream(
    {"messages": [{"role": "user", "content": question}]},
    stream_mode="values",
    context=RuntimeContext(db=db),
):
    step["messages"][-1].pretty_print()
    steps.append(step)

================================ Human Message =================================

This is Frank Harris, What was the total on my last invoice?
================================== Ai Message ==================================
Tool Calls:
  execute_sql (8aevq9g78)
 Call ID: 8aevq9g78
  Args:
    query: SELECT SUM(total) FROM invoices WHERE customer_name = 'Frank Harris'
================================= Tool Message =================================
Name: execute_sql

Error: (sqlite3.OperationalError) no such table: invoices
[SQL: SELECT SUM(total) FROM invoices WHERE customer_name = 'Frank Harris']
(Background on this error at: https://sqlalche.me/e/20/e3q8)
================================== Ai Message ==================================
Tool Calls:
  execute_sql (hjn975a52)
 Call ID: hjn975a52
  Args:
    query: PRAGMA table_info(invoices)
================================= Tool Message =================================
Name: execute_sql


================================== Ai Message ==================================
Tool Calls:
  execute_sql (a1r12azsx)
 Call ID: a1r12azsx
  Args:
    query: SELECT * FROM invoices WHERE customer_name = 'Frank Harris' LIMIT 5
================================= Tool Message =================================
Name: execute_sql

Error: (sqlite3.OperationalError) no such table: invoices
[SQL: SELECT * FROM invoices WHERE customer_name = 'Frank Harris' LIMIT 5]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
================================== Ai Message ==================================

It seems like the table 'invoices' does not exist in the database. Let's try to find the last invoice for Frank Harris.
Tool Calls:
  execute_sql (scetk5qk4)
 Call ID: scetk5qk4
  Args:
    query: PRAGMA table_info(invoices)
================================= Tool Message =================================
Name: execute_sql


================================== Ai Message ==================================

This query returned the table structure, but it did not help us identify the table name. Let's try another query to get the list of tables in the database.
Tool Calls:
  execute_sql (rkneg4gsh)
 Call ID: rkneg4gsh
  Args:
    query: SELECT name FROM sqlite_master WHERE type='table'
================================= Tool Message =================================
Name: execute_sql

[('Album',), ('Artist',), ('Customer',), ('Employee',), ('Genre',), ('Invoice',), ('InvoiceLine',), ('MediaType',), ('Playlist',), ('PlaylistTrack',), ('Track',)]
================================== Ai Message ==================================
Tool Calls:
  execute_sql (80n108d7k)
 Call ID: 80n108d7k
  Args:
    query: PRAGMA table_info(invoice)
================================= Tool Message =================================
Name: execute_sql

[(0, 'InvoiceId', 'INTEGER', 1, None, 1), (1, 'CustomerId', 'INTEGER', 1, None, 0), (2, 'InvoiceDate', 'DATETIME', 1, None, 0), (3, 'BillingAddress', 'NVARCHAR(70)', 0, None, 0), (4, 'BillingCity', 'NVARCHAR(40)', 0, None, 0), (5, 'BillingState', 'NVARCHAR(40)', 0, None, 0), (6, 'BillingCountry', 'NVARCHAR(40)', 0, None, 0), (7, 'BillingPostalCode', 'NVARCHAR(10)', 0, None, 0), (8, 'Total', 'NUMERIC(10,2)', 1, None, 0)]
================================== Ai Message ==================================
Tool Calls:
  execute_sql (93exjvxp5)
 Call ID: 93exjvxp5
  Args:
    query: SELECT SUM(total) FROM invoice WHERE customerid IN (SELECT customerid FROM customer WHERE customername = 'Frank Harris')
================================= Tool Message =================================
Name: execute_sql

Error: (sqlite3.OperationalError) no such column: customername
[SQL: SELECT SUM(total) FROM invoice WHERE customerid IN (SELECT customerid FROM customer WHERE customername = 'Frank Harris')]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
================================== Ai Message ==================================
Tool Calls:
  execute_sql (9xh0k0xtp)
 Call ID: 9xh0k0xtp
  Args:
    query: PRAGMA table_info(customer)
================================= Tool Message =================================
Name: execute_sql

[(0, 'CustomerId', 'INTEGER', 1, None, 1), (1, 'FirstName', 'NVARCHAR(40)', 1, None, 0), (2, 'LastName', 'NVARCHAR(20)', 1, None, 0), (3, 'Company', 'NVARCHAR(80)', 0, None, 0), (4, 'Address', 'NVARCHAR(70)', 0, None, 0), (5, 'City', 'NVARCHAR(40)', 0, None, 0), (6, 'State', 'NVARCHAR(40)', 0, None, 0), (7, 'Country', 'NVARCHAR(40)', 0, None, 0), (8, 'PostalCode', 'NVARCHAR(10)', 0, None, 0), (9, 'Phone', 'NVARCHAR(24)', 0, None, 0), (10, 'Fax', 'NVARCHAR(24)', 0, None, 0), (11, 'Email', 'NVARCHAR(60)', 1, None, 0), (12, 'SupportRepId', 'INTEGER', 0, None, 0)]
================================== Ai Message ==================================
Tool Calls:
  execute_sql (y1yb00p2w)
 Call ID: y1yb00p2w
  Args:
    query: SELECT SUM(total) FROM invoice WHERE customerid IN (SELECT customerid FROM customer WHERE lastname = 'Harris' AND firstname = 'Frank')
================================= Tool Message =================================
Name: execute_sql

[(37.62,)]
================================== Ai Message ==================================

Your last invoice total was $37.62.

In [8]:
question = "What were the titles?"

for step in agent.stream(
    {"messages": [{"role": "user", "content": question}]},
    context=RuntimeContext(db=db),
    stream_mode="values",
):
    step["messages"][-1].pretty_print()

================================ Human Message =================================

What were the titles?
================================== Ai Message ==================================
Tool Calls:
  execute_sql (amj9n7hhs)
 Call ID: amj9n7hhs
  Args:
    query: SELECT name FROM sqlite_master WHERE type='table'
================================= Tool Message =================================
Name: execute_sql

[('Album',), ('Artist',), ('Customer',), ('Employee',), ('Genre',), ('Invoice',), ('InvoiceLine',), ('MediaType',), ('Playlist',), ('PlaylistTrack',), ('Track',)]
================================== Ai Message ==================================
Tool Calls:
  execute_sql (e944nkamp)
 Call ID: e944nkamp
  Args:
    query: SELECT name FROM sqlite_master WHERE type='view'
================================= Tool Message =================================
Name: execute_sql


================================== Ai Message ==================================
Tool Calls:
  execute_sql (h9j6mawqc)
 Call ID: h9j6mawqc
  Args:
    query: SELECT name FROM sqlite_master WHERE type='trigger'
================================= Tool Message =================================
Name: execute_sql


================================== Ai Message ==================================
Tool Calls:
  execute_sql (mf3y82rsx)
 Call ID: mf3y82rsx
  Args:
    query: SELECT name FROM sqlite_master WHERE type='index'
================================= Tool Message =================================
Name: execute_sql

[('sqlite_autoindex_PlaylistTrack_1',), ('IFK_AlbumArtistId',), ('IFK_CustomerSupportRepId',), ('IFK_EmployeeReportsTo',), ('IFK_InvoiceCustomerId',), ('IFK_InvoiceLineInvoiceId',), ('IFK_InvoiceLineTrackId',), ('IFK_PlaylistTrackTrackId',), ('IFK_TrackAlbumId',), ('IFK_TrackGenreId',), ('IFK_TrackMediaTypeId',)]
================================== Ai Message ==================================
Tool Calls:
  execute_sql (q04zphdbx)
 Call ID: q04zphdbx
  Args:
    query: SELECT name FROM sqlite_master WHERE type='table'
================================= Tool Message =================================
Name: execute_sql

[('Album',), ('Artist',), ('Customer',), ('Employee',), ('Genre',), ('Invoice',), ('InvoiceLine',), ('MediaType',), ('Playlist',), ('PlaylistTrack',), ('Track',)]
================================== Ai Message ==================================

The titles are:

Album
Artist
Customer
Employee
Genre
Invoice
InvoiceLine
MediaType
Playlist
PlaylistTrack
Track

## Add memory

In [9]:
from langgraph.checkpoint.memory import InMemorySaver

In [10]:
from langchain.agents import create_agent
from langchain_core.messages import SystemMessage

agent = create_agent(
    #model="openai:gpt-5",
    model=llm,
    tools=[execute_sql],
    system_prompt=SYSTEM_PROMPT,
    context_schema=RuntimeContext,
    checkpointer=InMemorySaver(),
)

In [11]:
question = "This is Frank Harris, What was the total on my last invoice?"
steps = []

for step in agent.stream(
    {"messages": [{"role": "user", "content": question}]},
    {"configurable": {"thread_id": "1"}},
    context=RuntimeContext(db=db),
    stream_mode="values",
):
    step["messages"][-1].pretty_print()
    steps.append(step)

================================ Human Message =================================

This is Frank Harris, What was the total on my last invoice?
================================== Ai Message ==================================
Tool Calls:
  execute_sql (fvha643z3)
 Call ID: fvha643z3
  Args:
    query: SELECT SUM(total) FROM invoices WHERE customer_name = 'Frank Harris'
================================= Tool Message =================================
Name: execute_sql

Error: (sqlite3.OperationalError) no such table: invoices
[SQL: SELECT SUM(total) FROM invoices WHERE customer_name = 'Frank Harris']
(Background on this error at: https://sqlalche.me/e/20/e3q8)
================================== Ai Message ==================================
Tool Calls:
  execute_sql (29tvrqn9d)
 Call ID: 29tvrqn9d
  Args:
    query: PRAGMA table_info(invoices)
================================= Tool Message =================================
Name: execute_sql


================================== Ai Message ==================================
Tool Calls:
  execute_sql (emypjhakp)
 Call ID: emypjhakp
  Args:
    query: SELECT * FROM invoices WHERE customer_name = 'Frank Harris' LIMIT 5
================================= Tool Message =================================
Name: execute_sql

Error: (sqlite3.OperationalError) no such table: invoices
[SQL: SELECT * FROM invoices WHERE customer_name = 'Frank Harris' LIMIT 5]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
================================== Ai Message ==================================

It seems like the table 'invoices' does not exist in the database. Let's try to find the last invoice for Frank Harris.
Tool Calls:
  execute_sql (7zz8axetp)
 Call ID: 7zz8axetp
  Args:
    query: PRAGMA table_info(invoices)
================================= Tool Message =================================
Name: execute_sql


================================== Ai Message ==================================

This query returned the table structure, but it did not help us identify the table name. Let's try another query to get the list of tables in the database.
Tool Calls:
  execute_sql (g7mp3jrcg)
 Call ID: g7mp3jrcg
  Args:
    query: SELECT name FROM sqlite_master WHERE type='table'
================================= Tool Message =================================
Name: execute_sql

[('Album',), ('Artist',), ('Customer',), ('Employee',), ('Genre',), ('Invoice',), ('InvoiceLine',), ('MediaType',), ('Playlist',), ('PlaylistTrack',), ('Track',)]
================================== Ai Message ==================================
Tool Calls:
  execute_sql (qy7m46nam)
 Call ID: qy7m46nam
  Args:
    query: PRAGMA table_info(invoice)
================================= Tool Message =================================
Name: execute_sql

[(0, 'InvoiceId', 'INTEGER', 1, None, 1), (1, 'CustomerId', 'INTEGER', 1, None, 0), (2, 'InvoiceDate', 'DATETIME', 1, None, 0), (3, 'BillingAddress', 'NVARCHAR(70)', 0, None, 0), (4, 'BillingCity', 'NVARCHAR(40)', 0, None, 0), (5, 'BillingState', 'NVARCHAR(40)', 0, None, 0), (6, 'BillingCountry', 'NVARCHAR(40)', 0, None, 0), (7, 'BillingPostalCode', 'NVARCHAR(10)', 0, None, 0), (8, 'Total', 'NUMERIC(10,2)', 1, None, 0)]
================================== Ai Message ==================================
Tool Calls:
  execute_sql (n4x6t7tr8)
 Call ID: n4x6t7tr8
  Args:
    query: SELECT SUM(total) FROM invoice WHERE customerid IN (SELECT customerid FROM customer WHERE customername = 'Frank Harris')
================================= Tool Message =================================
Name: execute_sql

Error: (sqlite3.OperationalError) no such column: customername
[SQL: SELECT SUM(total) FROM invoice WHERE customerid IN (SELECT customerid FROM customer WHERE customername = 'Frank Harris')]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
================================== Ai Message ==================================
Tool Calls:
  execute_sql (yxx2rp9me)
 Call ID: yxx2rp9me
  Args:
    query: PRAGMA table_info(customer)
================================= Tool Message =================================
Name: execute_sql

[(0, 'CustomerId', 'INTEGER', 1, None, 1), (1, 'FirstName', 'NVARCHAR(40)', 1, None, 0), (2, 'LastName', 'NVARCHAR(20)', 1, None, 0), (3, 'Company', 'NVARCHAR(80)', 0, None, 0), (4, 'Address', 'NVARCHAR(70)', 0, None, 0), (5, 'City', 'NVARCHAR(40)', 0, None, 0), (6, 'State', 'NVARCHAR(40)', 0, None, 0), (7, 'Country', 'NVARCHAR(40)', 0, None, 0), (8, 'PostalCode', 'NVARCHAR(10)', 0, None, 0), (9, 'Phone', 'NVARCHAR(24)', 0, None, 0), (10, 'Fax', 'NVARCHAR(24)', 0, None, 0), (11, 'Email', 'NVARCHAR(60)', 1, None, 0), (12, 'SupportRepId', 'INTEGER', 0, None, 0)]
================================== Ai Message ==================================
Tool Calls:
  execute_sql (f7j419k94)
 Call ID: f7j419k94
  Args:
    query: SELECT SUM(total) FROM invoice WHERE customerid IN (SELECT customerid FROM customer WHERE lastname = 'Harris' AND firstname = 'Frank')
================================= Tool Message =================================
Name: execute_sql

[(37.62,)]
================================== Ai Message ==================================

Your last invoice total was $37.62.

In [12]:
question = "What were the titles?"
steps = []

for step in agent.stream(
    {"messages": [{"role": "user", "content": question}]},
    {"configurable": {"thread_id": "1"}},
    context=RuntimeContext(db=db),
    stream_mode="values",
):
    step["messages"][-1].pretty_print()
    steps.append(step)

================================ Human Message =================================

What were the titles?
================================== Ai Message ==================================
Tool Calls:
  execute_sql (jy8ppp8q9)
 Call ID: jy8ppp8q9
  Args:
    query: SELECT t.title FROM invoice i JOIN invoiceline il ON i.invoiceid = il.invoiceid JOIN track t ON il.trackid = t.trackid WHERE i.customerid IN (SELECT customerid FROM customer WHERE lastname = 'Harris' AND firstname = 'Frank') LIMIT 5
================================= Tool Message =================================
Name: execute_sql

Error: (sqlite3.OperationalError) no such column: t.title
[SQL: SELECT t.title FROM invoice i JOIN invoiceline il ON i.invoiceid = il.invoiceid JOIN track t ON il.trackid = t.trackid WHERE i.customerid IN (SELECT customerid FROM customer WHERE lastname = 'Harris' AND firstname = 'Frank') LIMIT 5]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
================================== Ai Message ==================================
Tool Calls:
  execute_sql (36p45rkbe)
 Call ID: 36p45rkbe
  Args:
    query: PRAGMA table_info(track)
================================= Tool Message =================================
Name: execute_sql

[(0, 'TrackId', 'INTEGER', 1, None, 1), (1, 'Name', 'NVARCHAR(200)', 1, None, 0), (2, 'AlbumId', 'INTEGER', 0, None, 0), (3, 'MediaTypeId', 'INTEGER', 1, None, 0), (4, 'GenreId', 'INTEGER', 0, None, 0), (5, 'Composer', 'NVARCHAR(220)', 0, None, 0), (6, 'Milliseconds', 'INTEGER', 1, None, 0), (7, 'Bytes', 'INTEGER', 0, None, 0), (8, 'UnitPrice', 'NUMERIC(10,2)', 1, None, 0)]
================================== Ai Message ==================================
Tool Calls:
  execute_sql (pf7r68yah)
 Call ID: pf7r68yah
  Args:
    query: SELECT t.name FROM invoice i JOIN invoiceline il ON i.invoiceid = il.invoiceid JOIN track t ON il.trackid = t.trackid WHERE i.customerid IN (SELECT customerid FROM customer WHERE lastname = 'Harris' AND firstname = 'Frank')
================================= Tool Message =================================
Name: execute_sql

[("Valentino's",), ('Promises',), ('Signe',), ('Ghost Of The Navigator',), ('Wildest Dreams',), ('Age Of Innocence',), ('Chains Of Misery',), ('05 - Phantom of the Opera',), ('Genghis Khan',), ('The Trooper',), ('Running Free',), ('From Here To Eternity',), ('Heaven Can Wait',), ('Holy Smoke',), ('Where Eagles Dare',), ('Aces High',), ('The Wicker Man',), ('The First Time',), ('Homely Girl',), ('Bring Me Your Cup',), ("Hang 'Em High",), ('Little Guitars (Intro)',), ("Ain't Talkin' 'bout Love",), ('Panama',), ("Can't Stop Loving You",), ('You Really Got Me',), ('Tanto Tempo',), ('Eu Vim Da Bahia - Live',), ('Opachor√¥ (Live)',), ('A Novidade (Live)',), ('De Ouro E Marfim (Live)',), ('Lamento De Carnaval',), ('Holier Than Thou',), ('Through The Never',), ('My Friend Of Misery',), ('The Wait',), ('Blitzkrieg',), ('So What',)]
================================== Ai Message ==================================

The titles of your last invoices were:

1. Valentino's
2. Promises
3. Signe
4. Ghost Of The Navigator
5. Wildest Dreams

## Try your own queries
Now that there is memory, check the agents recall!

In [ ]:
question = "Your Question Here?"
steps = []

for step in agent.stream(
    {"messages": [{"role": "user", "content": question}]},
    {"configurable": {"thread_id": "1"}},
    context=RuntimeContext(db=db),
    stream_mode="values",
):
    step["messages"][-1].pretty_print()
    steps.append(step)